/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Fonts & Colors */
/* Main Styles */
body {
  background: #fafafa;
  font-family: "Public Sans", sans-serif;
  font-size: 18px; }

h1,
h2,
h4 {
  font-weight: 300; }

h1,
h2,
h3,
h4 {
  color: #2d314d; }

h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center; }

h3 {
  font-weight: 400; }

a {
  text-decoration: none; }

h3:hover {
  color: #31d35c; }

h4 {
  font-size: .75rem; }

p {
  color: #9698a6;
  line-height: 1.75rem; }

.request-invite {
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 35px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 35px;
  text-decoration: none; }

/* Navigation */
header {
  background-color: white; }

.logo {
  margin-left: 15px;
  margin-top: 20px;
  float: left; }

.topnav {
  position: relative;
  background-color: white;
  height: 60px; }

.request-invite-desktop {
  display: none; }

/* Style the links inside the navigation bar */
.topnav a {
  background-color: white;
  color: #2d314d;
  display: block;
  float: left;
  font-weight: 300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }
  .topnav a a:visited {
    color: #2d314d; }

.topnav .icon {
  display: none;
  padding: 0;
  margin: 14px 16px 0px 14px; }
.topnav i {
  color: black; }
.topnav a:hover {
  text-decoration: underline; }

/* Additional responsive navigation styles */
@media screen and (max-width: 767px) {
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  .topnav a {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 767px) {
  .topnav.responsive {
    position: fixed;
    padding: 0;
    width: 100%; }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0; }
    .topnav.responsive a {
      clear: both;
      float: none;
      display: block;
      text-align: center; } }
/* Hero */
#hero .content-wrapper {
  position: relative;
  background: url("../img/bg-intro-mobile.svg") no-repeat;
  background-color: #fafafa;
  background-position: right 0px top -120px;
  background-size: 100%;
  z-index: -2; }
#hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 30px;
  padding-bottom: 90px; }
  #hero .hero-content img {
    z-index: -1;
    margin-top: -155px;
    width: 100%; }
  #hero .hero-content p {
    margin-top: 0px; }

/* About */
#about {
  background: #f3f4f6;
  padding-top: 30px; }
  #about .content-wrapper {
    margin: 70px 30px; }
    #about .content-wrapper p {
      text-align: center;
      margin-bottom: 65px; }
  #about .about-content article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px; }
  #about .about-content img {
    padding-bottom: 10px; }

/* Blog */
#blog {
  background: #fafafa;
  padding-top: 20px; }
  #blog .content-wrapper img {
    width: 100%;
    padding-bottom: 20px; }
  #blog .content-wrapper p {
    margin-bottom: 70px;
    text-align: left; }
  #blog .content-wrapper .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #blog .content-wrapper article p {
    line-height: 1.50rem;
    padding: 0px 40px; }
  #blog .content-wrapper h1 {
    padding-bottom: 40px; }
  #blog .content-wrapper h3 {
    line-height: 1.50rem;
    padding: 0px 40px; }
  #blog .content-wrapper h4 {
    padding: 0px 40px; }

/* Footer */
footer {
  background: #2d314d;
  /* Font Awesome */ }
  footer .content-wrapper {
    margin: 0px 30px; }
  footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-top: 40px; }
  footer i {
    color: white;
    padding: 0px 7.5px; }
  footer i:hover {
    color: #31d35c; }
  footer article a {
    color: white;
    text-decoration: none; }
  footer article a:hover {
    color: #31d35c;
    text-decoration: none; }
  footer .invite {
    padding: 30px 0px; }
    footer .invite a:hover {
      color: white; }
  footer .attribution {
    padding-top: 30px;
    font-size: .75rem; }
    footer .attribution a {
      color: white;
      text-decoration: none; }
    footer .attribution a:hover {
      color: #31d35c; }

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Navigation */
  .topnav {
    display: flex;
    justify-content: space-around; }

  /* Hero */
  #hero .hero-content {
    margin: 0px 60px; }
  #hero .content-wrapper {
    background: url("../img/bg-intro-desktop.svg") no-repeat;
    background-position: top -250px left 200px;
    background-size: 100%;
    padding: 0px 120px; }

  /* About */
  #about .content-wrapper {
    margin: 0px 60px; }

  /* Blog */
  #blog .content-wrapper {
    margin: 0px 60px; } }
/* Desktop Styles */
@media screen and (min-width: 1200px) {
  /* Navigation */
  .logo {
    margin-top: 20px;
    margin-left: 30px; }

  .topnav {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .topnav .regular-nav a {
      color: #9698a6; }
    .topnav a:visited {
      color: #9698a6; }
    .topnav a:hover {
      color: #2d314d;
      text-decoration: none; }

  /* Request Invite Button */
  .topnav .request-invite-desktop {
    display: inline-block; }
    .topnav .request-invite-desktop a:hover {
      color: white;
      text-decoration: none; }
    .topnav .request-invite-desktop a:visited {
      color: white; }

  .topnav .request-invite-desktop-style {
    background: linear-gradient(to right, #31d35c, #2bb7da);
    border-radius: 35px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-top: 6px;
    letter-spacing: 1px;
    text-decoration: none; }

  /* Hero Section */
  #hero .content-wrapper {
    background: url("../img/bg-intro-desktop.svg") no-repeat;
    background-position: top -350px left 600px;
    background-size: 110%;
    padding: 0px 120px; }
    #hero .content-wrapper .hero-content {
      flex-direction: row-reverse;
      justify-content: space-between;
      text-align: left; }
    #hero .content-wrapper article {
      width: 40%; }
    #hero .content-wrapper img {
      width: 120%;
      margin-top: -30px; }
    #hero .content-wrapper h1 {
      text-align: left;
      line-height: 3.5rem; }

  /* About Section */
  #about .content-wrapper {
    text-align: left; }
  #about .about-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 120px;
    width: 50%; }
    #about .about-intro article {
      justify-content: space-around;
      align-items: flex-start; }
      #about .about-intro article h1 {
        text-align: left; }
      #about .about-intro article p {
        text-align: left; }
  #about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 0 80px; }
    #about .about-content article {
      align-items: flex-start;
      width: 28%; }
      #about .about-content article p {
        text-align: left; }

  /* Blog */
  #blog .content-wrapper {
    margin: 0px 120px;
    padding-bottom: 80px; }
    #blog .content-wrapper h1 {
      text-align: left; }
    #blog .content-wrapper .blog-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row; }
      #blog .content-wrapper .blog-content article {
        background-color: white;
        width: 25%;
        height: 475px;
        margin-right: 30px; }
        #blog .content-wrapper .blog-content article img {
          border-radius: 10px 10px 0px 0px;
          width: 95%; }
        #blog .content-wrapper .blog-content article h3 {
          padding: 0 20px; }
        #blog .content-wrapper .blog-content article h4 {
          padding: 0 20px; }
        #blog .content-wrapper .blog-content article p {
          font-size: .95rem;
          line-height: 1.25rem;
          text-align: left;
          padding: 0 20px; }

  /* Footer */
  footer {
    padding-bottom: 60px; }
    footer .footer-content {
      margin: 0 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      footer .footer-content article {
        width: 30%; }
      footer .footer-content .attribution {
        padding-top: 15px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
